<p>中电27</p>

<p>{"code":2000</p>
<p>"data":[{"id":13</p>
<p>"status_text":"已临空"</p>
<p>"airline_name":"航线3"</p>
<p>"missile_name":"蛋-3"</p>
<p>"aircraft_name":"K"</p>
<p>"army_name":"1团"</p>
<p>"aviator_name":"飞2，飞2"</p>
<p>"weapon_controller_name":"1"</p>
<p>"target_name":"灰靶"</p>
<p>"target_lng":"105.570837"</p>
<p>"target_lat":"37.026355"</p>
<p>"target_alt":"1514.70"</p>
<p>"bombing_num":2</p>
<p>"arrive_time":"2023-05-31 16:28:05"}</p>
<p>{"id":14</p>
<p>"status_text":"已检靶"</p>
<p>"airline_name":"航线3"</p>
<p>"missile_name":"蛋0-2"</p>
<p>"aircraft_name":"K"</p>
<p>"army_name":"1团"</p>
<p>"aviator_name":"飞3，飞3"</p>
<p>"weapon_controller_name":"武3"</p>
<p>"target_name":"大靶"</p>
<p>"target_lng":"136.234500"</p>
<p>"target_lat":"36.778800"</p>
<p>"target_alt":"1.00"</p>
<p>"bombing_num":1</p>
<p>"arrive_time":"2023-05-31 16:31:41"}]</p>
<p>"msg":"success"}</p>
</p>